#current-weather-nav-container {
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

#current-weather-nav-container > h1 {
    font-weight: 400;
    font-size: 28pt;
    justify-self: right;
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

.wind-speed-container {
    width: 100px;
    height: 100px;
    /*border: 3px solid black;*/
    border-radius: 100px;
    grid-row: 1;
    grid-column: 1;
    /*margin: 25px 0 0 25px;*/
    position: relative;
    z-index: 30;
    justify-self: left;
    align-self: start;
}

.wind-speed-arrow {
    width: 75px;
    position: relative;
    grid-row: 1;
    grid-column: 1;
    z-index: 35;
    /*left: 12px;*/
    top: 11px;
    transform: rotate(180deg);
}

.dashboard-weather-icon {
    width: 75px;
    height: 75px;
    grid-row: 1 / span 2;
    align-self: start;
    grid-column: 3;
    justify-self: right;
    margin-top: 15px;
}

#current-weather-nav-container > h2 {
    grid-column: 1;
    grid-row: 2;
    margin: 25px 0 0 10px;
    padding: 0;
    text-align: left;
    width: 100px;
}