#users-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;

    transition: opacity 1000ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

#users-container.is-visible {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.user {
    border-radius: 50px;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.user:active {
    background-color: var(--btn-light-blue);
}

h1, h2 {
    padding: 0;
    margin: 0;
}