html {
    scrollbar-gutter: stable;
}

html,
body {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    overflow-x: hidden;
}

:root {
    --background-gray: #242424;
    --btn-green: #6FC03F;
    --btn-light-blue: #3793ff;
    --btn-soft-cyan: #a9fff7;
    --btn-blush-rose: #da667b;
    --err-state-red: rgba(255, 0, 0, 0.75);

    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--background-gray);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.frosted-glass {
    background: rgba(255, 255, 255, 0.05); /* translucent white */
    backdrop-filter: blur(10px);          /* creates the frosted look */
    -webkit-backdrop-filter: blur(10px);  /* for Safari support */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.frosted-glass-gray {
    background: rgba(88, 88, 88, 0.75); /* translucent white */
    backdrop-filter: blur(10px);          /* creates the frosted look */
    -webkit-backdrop-filter: blur(10px);  /* for Safari support */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.frosted-glass-blue {
    background: rgba(0, 0, 255, 0.15); /* translucent white */
    backdrop-filter: blur(10px);          /* creates the frosted look */
    -webkit-backdrop-filter: blur(10px);  /* for Safari support */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.frosted-glass-faded-blue {
    background: rgba(0, 0, 255, 0.10); /* translucent white */
    backdrop-filter: blur(10px);          /* creates the frosted look */
    -webkit-backdrop-filter: blur(10px);  /* for Safari support */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.frosted-glass-light-blue {
    background: rgba(109, 176, 255, 0.65); /* translucent white */
    backdrop-filter: blur(10px);          /* creates the frosted look */
    -webkit-backdrop-filter: blur(10px);  /* for Safari support */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.frosted-glass-green {
    background: rgba(0, 255, 0, 0.55); /* translucent white */
    backdrop-filter: blur(10px);          /* creates the frosted look */
    -webkit-backdrop-filter: blur(10px);  /* for Safari support */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ui-disabled {
    opacity: 0;
    pointer-events: none;
    /*visibility: hidden;*/
    /*height: 0px !important;*/
}

.divider {
    height: 1px;
    background-color: #888888;
}

.vertical-divider {
    width: 1px;
    background-color: #888888;
}